
.pq{
    text-align: center; 
    border-radius: 100px;
    height: 500px;
    width: 650px;

}
body {
    text-align: center;
    background-color: burlywood;
}
header{
    background-color: rgb(87, 58, 21);
    color: beige;
    border-radius: 75px;
    backdrop-filter: 40px;
}
.b1{
    display: flex;
    left: 750px; margin-bottom: 10px; 
    height: 75px;
    width: 100px;
}
.anot{
    border: 1px dashed #ccc; padding: 10px;
}