
.pq{
    text-align: center; 
    border-radius: 100px;
    height: 500px;
    width: 650px;

}
body {
    text-align: center;
    background-color: burlywood;
}
header{
    background-color: rgb(87, 58, 21);
    color: beige;
    border-radius: 75px;
    backdrop-filter: 40px;
}
.b1{
    display: flex;
   
}
.anot{
    border: 1px dashed #3f2d0b; padding: 10px;
    border-radius: 20px
}
.b1{
    position: absolute;
    right:5px;
    width:100px;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
    background-color: #3f2d0b;
    border-radius: 20px;
}